
.DS_Store
.vscode/launch.json
/Safarti.Api/bin/Debug
/Safarti.Api/bin/Debug
/Safarti.Api/obj
/Safarti.Api/bin
/Safarti.Api/bin/Debug
Safarti.Api/bin/Debug/net8.0/Safarti.Api
Safarti.Api/bin/Debug/net8.0/Safarti.Api
